<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<h1>BITS da equipe debian-l10n-portuguese - Ago/2018</h1>

<p>Planejamos lançar mensalmente um relatório da
<a href="https://wiki.debian.org/Brasil/Traduzir">equipe debian-l10n-portuguese</a> do
Projeto <a href="https://www.debian.org">Debian</a> e este é o primeiro deles. O objetivo é
que as atividades da equipe sejam conhecidas e possamos dar os devidos créditos
pelo trabalho produzido por nossos contribuidores. Acreditamos que isso poderá
estimular a participação de novos tradutores e revisores.</p>

<h2>Visão geral de agosto de 2018</h2>

<ul>
<li>Atualização da wiki sobre como traduzir as páginas web.</li>
<li>Traduções DDTP.</li>
<li>03 Páginas traduzidas/atualizadas no site oficial.</li>
<li>07 Traduções PO.</li>
<li>09 Traduções de páginas wiki</li>
<li>02 Traduções de posts da equipe de publicidade.</li>
</ul>

<h2>Pessoas com atividades registradas durante agosto de 2018</h2>

<ul>
<li>Adriano Rafael Gomes</li>
<li>Barbara Tostes</li>
<li>Daniel Lenharo de Souza</li>
<li>Lia Ayumi Takiguchi</li>
<li>Paulo Henrique de Lima Santana (phls)</li>
<li>Qobi Ben Num</li>
<li>Ricardo Fantin da Costa</li>
<li>Tássia Camoes Araujo</li>
<li>Willian Moreira</li>
</ul>

<p>Se você fez alguma colaboração de tradução que não está listada acima, nos avise
na lista (debian-l10n-portuguese@lists.debian.org) para que seu trabalho seja
devidamente registrado e reconhecido!</p>

<h2>Conheça o trabalho na wiki</h2>

<p>A wiki é dividida em 14 seções (mais uma com instruções para tradutores). A
ideia é fazer um "percurso em nível" traduzindo a primeira página de cada seção
e depois as páginas citadas diretamente em cada seção. As seções voltadas para
<em>Hardware</em> e <em>Instalação Rápida</em> já foram traduzidas, a maior seção em número de
artigos com link no começo da seção é a de <em>Serviços de Rede</em>. Todas as páginas
traduzidas nesse mês são da seção de <em>Serviços de Rede</em> e faltam mais 37 páginas
para terminar a seção antes de partir para a próxima.</p>

<p>Para se ter uma ideia do tamanho da wiki que deve ser traduzida observe uma
estatística geral do número de páginas existentes em algumas línguas. A contagem
foi feita com uma pesquisa pelo prefixo de cada língua no nome da página:</p>

<ul>
<li>it = 756</li>
<li>fr = 720</li>
<li>ru = 443</li>
<li>es = 289</li>
<li>de = 210</li>
<li>pt_BR = 120</li>
</ul>

<p>É estimado o término das 37 páginas da seção de <em>Serviços de Rede</em> até o
final do ano. E dependendo do tamanho das outras páginas, passar de 250 páginas
traduzidas até a <a href="https://debconf19.debconf.org/">DebConf19</a>. Essa é uma
previsão otimista, mas talvez não tanto já que existem páginas sobre programas
com uma breve descrição possibilitando traduzir um número maior de páginas em
menos tempo.</p>

<h2>Itens traduzidos</h2>

<ul>
<li>Please review and translate blog post (and announcement) about DebConf18 closing</li>
<li>Please translate debian 25 years post</p></li>
<li>ddp://manuals/trunk/release-notes/upgrading.po</li>
<li>po-debconf://kstars-data-extra-tycho2/pt_BR.po</li>
<li>po-debconf://mailman3-core/pt_BR.po</li>
<li>po-debconf://miniupnpd/pt_BR.po</li>
<li>po-debconf://nvidia-graphics-drivers<em>375.82-4/pt</em>BR.po</li>
<li>po://debian-installer/level1/sublevel1/pt_BR.po</li>
<li>po://debian-installer/level2/tasksel/debian/po/pt_BR.po</p></li>
<li>wml://www.debian.org/Bugs/index.wml</li>
<li>wml://www.debian.org/CD/index.wml</li>
<li>wml://www.debian.org/ports/hurd/index.wml</p></li>
<li>https://wiki.debian.org/pt_BR/Apache</li>
<li>https://wiki.debian.org/pt_BR/WebServers</li>
<li>https://wiki.debian.org/pt_BR/DatabaseServers</li>
<li>https://wiki.debian.org/pt_BR/ConvertNetToStatic</li>
<li>https://wiki.debian.org/pt_BR/HowtoProxyThroughSSH</li>
<li>https://wiki.debian.org/pt_BR/NetworkManager</li>
<li>https://wiki.debian.org/pt_BR/SSH</li>
<li>https://wiki.debian.org/pt_BR/ConvertNetToStatic</li>
<li>https://wiki.debian.org/pt_BR/HowtoProxyThroughSSH</li>
</ul>

<p>A equipe de tradução para português do Brasil agradece a todos que colaboram para que
o Debian se torne mais universal!</p>

<p>Venha <a href="https://wiki.debian.org/Brasil/Traduzir">ajudar</a> você também. Toda ajuda é bem-vinda e estamos precisando da sua.</p>
