<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<h1>BITS da equipe debian-l10n-portuguese - Novembro/2018</h1>

<p>Mensalmente emitimos  um relatório da 
<a href="https://wiki.debian.org/Brasil/Traduzir">equipe debian-l10n-portuguese</a> do
Projeto <a href="https://www.debian.org">Debian</a> e este é o quarto deles. O objetivo é
que as atividades da equipe sejam conhecidas e possamos dar os devidos créditos
pelo trabalho produzido por nossos contribuidores. Acreditamos que isso poderá
estimular a participação de novos tradutores e revisores.</p>

<h2>Visão geral de Novembro de 2018</h2>

<ul>
<li>07 Páginas traduzidas/atualizadas no site oficial.</li>
<li>04 Traduções PO.</li>
<li>01 Traduções de páginas wiki</li>
</ul>

<h2>Pessoas com atividades registradas durante novembro de 2018</h2>

<ul>
<li>Adriana Costa</li>
<li>Adriano Rafael Gomes</li>
<li>Daniel Lenharo de Souza</li>
<li>Leandro Ramos</li>
<li>Leonardo S. S. da Rocha</li>
<li>Paulo Henrique de Lima Santana</li>
<li>Qobi Ben Nun</li>
<li>Ricardo Fantin da Costa</li>
</ul>

<p>Se você fez alguma colaboração de tradução que não está listada acima, nos avise
na lista (debian-l10n-portuguese@lists.debian.org) para que seu trabalho seja
devidamente registrado e reconhecido!</p>

<h2>Itens traduzidos</h2>

<ul>
<li>wml://devel/website/index.wml</li>
<li>wml://www.debian.org/support.wml</li>
<li>wml://www.debian.org/events/admin.wml</li>
<li>wml://www.debian.org/events/booth.wml</li>
<li>wml://www.debian.org/events/checklist.wml</li>
<li>wml://www.debian.org/events/keysigning.wml</li>
<li>wml://www.debian.org/events/requirements.wml</li>
<li>po-debconf://mxallowd/pt_BR.po</li>
<li>po-debconf://sash/pt_BR.po</li>
<li>po-debconf://qcumber/pt_BR.po</li>
<li>po-debconf://isdnutils/pt_BR.po</li>
<li>https://wiki.debian.org/pt_BR/VNCviewer</li>
</ul>

<p>A equipe de tradução para português do Brasil agradece a todos que colaboram para que
o Debian se torne mais universal!</p>

<p>Venha <a href="https://wiki.debian.org/Brasil/Traduzir">ajudar</a> você também. Toda ajuda é bem-vinda e estamos precisando da sua.</p>
