<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<h1>BITS da equipe debian-l10n-portuguese - Out/2018</h1>

<p>Mensalmente emitimos  um relatório da 
<a href="https://wiki.debian.org/Brasil/Traduzir">equipe debian-l10n-portuguese</a> do
Projeto <a href="https://www.debian.org">Debian</a> e este é o terceiro deles. O objetivo é
que as atividades da equipe sejam conhecidas e possamos dar os devidos créditos
pelo trabalho produzido por nossos contribuidores. Acreditamos que isso poderá
estimular a participação de novos tradutores e revisores.</p>

<h2>Visão geral de Outubro de 2018</h2>

<ul>
<li>04 Traduções de páginas wiki</li>
</ul>

<h2>Pessoas com atividades registradas durante setembro de 2018</h2>

<ul>
<li>Daniel Lenharo de Souza</li>
<li>Fred Maranhão</li>
<li>Francisco Neto</li>
<li>Lia Ayumi Takiguchi</li>
<li>Ricardo Fantin da Costa</li>
<li>Paulo Henrique de Lima Santana</li>
<li>Thiago Nunes (Qobi Ben Nun)</li>
</ul>

<p>Se você fez alguma colaboração de tradução que não está listada acima, nos avise
na lista (debian-l10n-portuguese@lists.debian.org) para que seu trabalho seja
devidamente registrado e reconhecido!</p>

<h2>Itens traduzidos</h2>

<ul>
<li>https://wiki.debian.org/pt_BR/RemoteDesktop</li>
<li>https://wiki.debian.org/pt_BR/DebianNPDatabases</li>
<li>https://wiki.debian.org/pt_BR/PostfixAndSASL</li>
<li>https://wiki.debian.org/pt_BR/TimeZoneChanges</li>
</ul>

<p>A equipe de tradução para português do Brasil agradece a todos que colaboram para que
o Debian se torne mais universal!</p>

<p>Venha <a href="https://wiki.debian.org/Brasil/Traduzir">ajudar</a> você também. Toda ajuda é bem-vinda e estamos precisando da sua.</p>
