<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<h1>BITS da equipe debian-l10n-portuguese - Set/2018</h1>

<p>Mensalmente emitimos  um relatório da 
<a href="https://wiki.debian.org/Brasil/Traduzir">equipe debian-l10n-portuguese</a> do
Projeto <a href="https://www.debian.org">Debian</a> e este é o segundo deles. O objetivo é
que as atividades da equipe sejam conhecidas e possamos dar os devidos créditos
pelo trabalho produzido por nossos contribuidores. Acreditamos que isso poderá
estimular a participação de novos tradutores e revisores.</p>

<h2>Visão geral de setembro de 2018</h2>

<ul>
<li>01 Páginas traduzidas/atualizadas no site oficial.</li>
<li>05 Traduções PO.</li>
<li>05 Traduções de páginas wiki</li>
</ul>

<h2>Pessoas com atividades registradas durante setembro de 2018</h2>

<ul>
<li>Adriana Cássia da Costa</li>
<li>Adriano Rafael Gomes</li>
<li>Daniel Lenharo de Souza</li>
<li>Lia Ayumi Takiguchi</li>
<li>Paulo Henrique de Lima Santana</li>
<li>Qobi Ben Nun</li>
<li>Ricardo Fantin da Costa</li>
<li>William Moreira</li>
</ul>

<p>Se você fez alguma colaboração de tradução que não está listada acima, nos avise
na lista (debian-l10n-portuguese@lists.debian.org) para que seu trabalho seja
devidamente registrado e reconhecido!</p>

<h2>Itens traduzidos</h2>

<ul>
<li>https://wiki.debian.org/pt_BR/ImapProxy</li>
<li>https://wiki.debian.org/pt_BR/LDAPFormatNisMap</li>
<li>https://wiki.debian.org/pt_BR/Debian</li>
<li>https://wiki.debian.org/pt_BR/BridgeNetworkConnections</li>
<li>https://wiki.debian.org/pt_BR/DataBase</li>
<li>ddp://manuals/trunk/release-notes/issues.po</li>
<li>ddp://manuals/trunk/release-notes/old-stuff.po</li>
<li>ddp://manuals/trunk/release-notes/installing.po</li>
<li>ddp://manuals/trunk/release-notes/release-notes.po</li>
<li>po://debian-installer/level1/sublevel3/pt_BR.po</li>
<li>wml://www.debian.org/CD/http-ftp/index.wml</li>
</ul>

<p>A equipe de tradução para português do Brasil agradece a todos que colaboram para que
o Debian se torne mais universal!</p>

<p>Venha <a href="https://wiki.debian.org/Brasil/Traduzir">ajudar</a> você também. Toda ajuda é bem-vinda e estamos precisando da sua.</p>
