<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<h1>BITS da equipe debian-l10n-portuguese - Janeiro de 2019</h1>

<p>Mensalmente emitimos um relatório da 
<a href="https://wiki.debian.org/Brasil/Traduzir">equipe debian-l10n-portuguese</a> do
Projeto <a href="https://www.debian.org">Debian</a> e este é o primeiro de 2019 deles. 
O objetivo é que as atividades da equipe sejam conhecidas e possamos dar os
devidos créditos pelo trabalho produzido por nossos contribuidores. 
Acreditamos que isso poderá estimular a participação de novos tradutores e 
revisores.</p>

<h2>Visão geral de Janeiro de 2019</h2>

<ul>
<li>07 Traduções DDTP.</li>
<li>08 Traduções PO.</li>
</ul>

<h2>Pessoas com atividades registradas durante o janeiro de 2019</h2>

<ul>
<li>Adriano Rafael Gomes</li>
<li>Adriana Costa</li>
<li>Daniel Lenharo de Souza</li>
<li>Tassia Camoes Araujo</li>
</ul>

<p>Se você fez alguma colaboração de tradução que não está listada acima, nos avise
na lista (debian-l10n-portuguese@lists.debian.org) para que seu trabalho seja
devidamente registrado e reconhecido!</p>

<h2>Itens traduzidos</h2>

<ul>
<li>ddp://refcard/pt_BR.po</li>
<li>po-debconf://buildbot/pt_BR.po </li>
<li>po-debconf://postgresql-11/pt_BR.po</li>
<li>po-debconf://lxc/pt_BR.po </li>
<li>po-debconf://powerline/pt_BR.po</li>
<li>po-debconf://s-nail/pt_BR.po</li>
<li>po-debconf://fusiondirectory/pt_BR.po</li>
<li>po-debconf://opendmarc/pt_BR.po</li>
<li>po-debconf://prometheus/pt_BR.po </li>
<li>ddtp: docker</li>
<li>ddtp: bzip2</li>
<li>ddtp: gdbm</li>
<li>ddtp: postgresql-all</li>
<li>ddtp: python</li>
<li>ddtp: inkscape</li>
<li>ddtp: krita</li>
</ul>

<p>A equipe de tradução para português do Brasil agradece a todos que 
colaboram para que o Debian se torne mais universal!</p>

<p>Venha <a href="https://wiki.debian.org/Brasil/Traduzir">ajudar</a> você também. 
Toda ajuda é bem-vinda e estamos precisando da sua.</p>

<p>Não perca a <a href="https://debconf19.debconf.org/">DebConf19 no Brasil</a>. A DebConf 
acontecerá em Curitiba entre os dias 21 e 28 de Julho de 2019. Participe!</p>
